<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328740837722-uc3f6l1ehmiobb5bls6dv1kmssqjvsf5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328740837722-uc3f6l1ehmiobb5bls6dv1kmssqjvsf5</string>
	<key>API_KEY</key>
	<string>AIzaSyDXf_EyhUlba0KqKmABOo13H9fGsU3YAvU</string>
	<key>GCM_SENDER_ID</key>
	<string>328740837722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adrianC.Vasflix</string>
	<key>PROJECT_ID</key>
	<string>vasflixios</string>
	<key>STORAGE_BUCKET</key>
	<string>vasflixios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328740837722:ios:939e7c9296b5027d80bb63</string>
</dict>
</plist>